.container {
    margin: 10px auto 10px auto;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.userImg {
    width: 36px;
    height: 36px;
    background: #B9B9B9;
    border-radius: 50%;
    margin-right: 10px;
}

.userText {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: 700;
    font-size: 16px;
}

.email {
    color: #9D9D9D;
    font-weight: 500;
    font-size: 12px;
}

.btn {
    margin: auto 0 auto 0;
    padding-right: 10px;

}

.btn button {
    width: 65px;
    height: 25px;
    background: #F7F5F5;
    border-radius: 10px;
    border: none;
    color: #595959;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 11px;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title span {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 20px;
}

.title button {
    height: 32px;
    width: 25%;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #595959;
    background: #F7F5F5;
    border: 1px solid #ECEAEA;
    border-radius: 10px;
    box-sizing: border-box;

}

.headTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 0 20px;
    height: 37px;
    background: #F7F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.headTable span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.number {
    text-align: center;
    width: 25%;
}

.emailTable {
    width: 35%;
}

.amount {
    width: 15%;
}

.date {
    width: 25%;
}

.more {
    display: flex;
    justify-content: center;
}

.more button {
    height: 42px;
    width: 30%;
    background: #F7F5F5;
    border: 1px solid #ECEAEA;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.select select {
    height: 32px;
    width: 254px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #595959;
    background: #F7F5F5;
    border: 1px solid #ECEAEA;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}

select:hover {
    background: #c2c2c2;
    border: none;
    transition: 0.5s;
}

button:hover {
    background: #c2c2c2;
    transition: 0.5s;
}

@media (max-width: 799px) and (min-width: 300px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1279px) {
    .container {
        width: 50%;
    }
}